body {
    background-color: #aaa;
    text-align: center;
}

footer {
    text-align: center;
    font-family: monospace;
}

.container {
    padding: 2%;
}

.jumbo {
    background-color: #e0e;
    text-align: center;
}

.quotehead {
    background-color: #eea;
    display: inline;
    padding: 4px;
}

.quotebox {
    text-align: center;
    background-color: #eae;
    padding: 10px;
}

.quote {
    background-color: #eaa;
    margin: 8px;
}
.author {
    background-color: #aae;
    margin: 8px;
}

hr {
    width: 65%;
}