body {
    background-color: #aaa;
    text-align: center;
}

footer {
    text-align: center;
    font-family: monospace;
}

.btn {
    margin-bottom: 10px;
}

.container {
    padding: 2%;
}

.jumbo {
    background-color: #e0e;
    text-align: center;
}

.quotehead {
    background-color: orange;
    display: inline-block;
    padding: 6px;
}

.quotebox {
    background-color: #eae;
    margin: 10px;
    padding: 10px;
}

.quote {
    background-color: #eaa;
    margin: 8px;
    text-align: justify;
    display: inline-block;
}

.author {
    background-color: #aae;
    margin: 8px;
    display: inline-block;
}

hr {
    width: 65%;
}