body {
    background-color: #aaa;
    text-align: center;
}

footer {
    text-align: center;
    font-family: monospace;
}

.jumbo {
    background-color: #e0e;
    text-align: center;
}

.quotehead {
    background-color: #eea;
    display: inline;
    padding: 8px;
}

.quotebox {
    text-align: justify;
    background-color: #eae;
    padding: 10px;
}

.quote {
    background-color: #eaa;
    padding: 6px;
    display: inline-block;
}
.author {
    background-color: #aae;
    padding: inherit;
}

hr {
    width: 65%;
}